/*@todo: important убрать. разобраться с приоритетом*/

.back{
    background: white !important;
    margin-bottom: 0px !important;
}

.search{
    margin-top: 45px;
    align-content: right;
}

.mynav{
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
}

.navul{
    margin-right: 0 !important;
}

.bold{
    font-weight: bold !important;
}

.hidden{
    display: none;
}

.icons{
    font-size: 30pt !important;
}

.site-content{
    padding-left: 30px;
}

.menu4{
    margin-bottom: 40px;
    margin-left: 0;
}

.head{
    margin-bottom: 5px !important;
}

.adv{
    margin-top: 0 !important;
}

.main{
    padding-top:20px;
}